<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Product</h1>

<form th:action="@{/product/form}" th:object="${product}" method="post">
    <p>Title:
    <input type="text" th:field="*{title}"></p>
    <p>Cost:
    <input type="text" th:field="*{cost}"></p>
    <button type="submit">Save</button>
</form>

<form th:action="@{/product/find_form}" th:object="${product}" method="get">
    <p>Title:
    <input type="text" th:field="*{title}"></p>
    <button type="submit">Search</button>
</form>

</body>
</html>