<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Product</h1>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form method="post" th:action="@{/products/update}" th:object="${product}">
                <input th:field="*{id}" th:type="hidden">
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" placeholder="Enter title" th:field="*{title}" type="text">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input class="form-control" placeholder="Enter price" th:field="*{cost}" type="number">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>