<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавить новый товар</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Добавить новый товар</h1>

    <form th:action="@{/products/add}" method="POST">
        <input type="text" name="title" placeholder="Введите название"/>
        <input type="text" name="price" placeholder="Введите цену"/>
        <input type="submit"/>
    </form>
    <br>
</body>
</html>