<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Изменить товар</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Изменить товар</h1>
    <form th:action="@{/products/edit}" th:object="${product}" method="POST">
        <input hidden th:field="*{id}"/>
        <br>
        Name: <input th:field="*{title}"/>
        <br>
        Score: <input th:field="*{price}"/>
        <br>
        <input type="submit" value="Сохранить" />
    </form>
    <br>
</body>
</html>